body {
  background:#0f0f0f;
  color:#fff;
  font-family:Arial;
}

.container {
  width:80%;
  margin:auto;
  text-align:center;
}

input, textarea {
  width:80%;
  padding:10px;
  margin:10px;
}

.cards {
  display:flex;
  justify-content:center;
  gap:20px;
}

.card {
  background:#1c1c1c;
  padding:10px;
  cursor:pointer;
  border-radius:8px;
}

.card img {
  width:200px;
  height:120px;
}

.ai-box {
  margin-top:30px;
}
